/* .featured {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;

}

.featuredItem {
    background-color: #fff;
    border-top: 1px solid aqua;
    flex: 1 1;
    margin: 0% 1%;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    min-width: auto;
    max-width: 200px;}

.featuredTitle {
    font-size: 20px;
    width: 100%;
    display: flex;

}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
} */

/* .featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
} */

/* .featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative {
    color: red;
}

.featuredSub {
    font-size: 15px;
    color: grey;
} */