.sidebar {
    flex: 1;
    height: calc(100vh-50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    position: static;
    width: 53px;
    height: 16px;
    left: 16px;
    top: 12px;

    /* Overline */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 160% */

    letter-spacing: 1.5px;
    text-transform: uppercase;

    /* On Surface / Disabled */

    /* color: rgba(255, 255, 255, 0.38); */
    color: rgb(187, 185, 185);
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: rgb(228, 228, 250);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}