*{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* .container {
    display: flex;
    margin-top: 10px;
} */

/* .others {
    flex: 4;
} */

.dashboardItem {
    padding: 10px;  
}

.row {
    display: flex; 
    /* flex-direction: column; */
}

.col {
    flex: 1; 
    /* additionally, equal width */
}

.indicatorTitle {
    font-weight: 600;
    font-size: 14px;
    /* padding: 10px; */
    padding-block: 5px;
}

.userOptionsHeader {
    max-height: 64px;
    border-radius: 0%;
}

.dashboardSquare {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* surface */

    background: #FFFFFF;
    /* 03 dp */

    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.straight {
    display: flex;
}

.noBorderItem {
    /* border-left: orange; */
    box-shadow: none;
    border: none;
    padding: 16px;
    /* text-align: center; */
}

.featured {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    padding-left: 6px;
    padding-top: 20px;

}

.featuredItem {
    background-color: #fff;
    border-top: 1px solid aqua;
    flex: 1 1;
    margin: 0% 1%;
    /* padding: 2%; */
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    min-width: auto;
    max-width: 200px;}

.featuredTitle {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    color: gray;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative {
    color: red;
}

.featuredSub {
    font-size: 15px;
    color: grey;
}

.tabContainer {
    width: 100%;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    background-color: lightgray;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.cardDriverName {
    display: inline;
}

.cardTitle {
    /* font-family: 'Roboto'; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cardAcceptanceRate {
    /* Headline 5 */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    letter-spacing: 0.18px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* 08. Green/600 */

    color: #43A047;
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.indicators {
    /* font-size: 11px; */
    text-transform: uppercase;
    font-size: 0.75rem;
    color: gray;
}

.mg-h4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mg-h8 {
    margin-left: 8px;
    margin-right: 8px;
}

.pd-v8{
    padding: 8px 0px;
}

.pd-v16{
    padding: 16px 0px;
}

.optionButtons {
    display: flex;
    align-items: center;
}

.homeWidgets {
    display: flex;
    margin: 20px;
}

.sidebar {
    flex: 1;
    height: calc(100vh-50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    position: static;
    width: 53px;
    height: 16px;
    left: 16px;
    top: 12px;

    /* Overline */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 160% */

    letter-spacing: 1.5px;
    text-transform: uppercase;

    /* On Surface / Disabled */

    /* color: rgba(255, 255, 255, 0.38); */
    color: rgb(187, 185, 185);
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover {
    background-color: rgb(228, 228, 250);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Insertar logo URIDE */
.logo {
    font-weight: bold;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.topRight {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.topbarIconContainer {
    position:relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconBadge {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.topAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.chart {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);

}

.chartTitle {
    margin-bottom: 20px;
}

.fixedColumn {
    position: "sticky";
    left: 0;
    /* background: "white", */
    box-shadow: "5px 2px 5px grey";
}

.actionGrid {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    z-index: 1;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

.mainContent {
    flex-grow: 4;
    padding: 24px;
    overflow: auto;  /* // to adjust contents of main frame to total available space */
}

.overview {
    flex-grow: 4;
    padding-top: 15px;
    overflow: auto;
}

/* .floatingGrid {
    position: absolute;
    z-index: 1;
    width: calc(100% - 162px);
    padding: 20px;
} */

.stickyGrid{
    width: 99%;
    /* padding: 2vw; */
    z-index: 1;
    position: sticky;
    /* top: 9px; */
    /* left: 10px; */
}

.panelActionItem {
    border-left: orange; 
    box-shadow: none;
    border: none;
    padding: 8px;
}

.panelActionItemHeader {
    display: flex;
    align-items: center;
}

.panelActionItemHeaderContent {
    flex: 1 1 auto;
}

.panelActionItemHeaderAction {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: -8px;
    margin-right: -8px;
    display: flex;
    overflow: hidden;
}

.panelActionItemTitle, .panelActionItemValue {
    display: flex;
    overflow: hidden;
}

.feed {
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-left: 10px;
}

.liveData {
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    bottom: 110px;
    padding-right: 10px;
    right: 0;
}

.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.auth__social {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 128px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}